h1 {
    
font-family: 'Lobster', cursive;
color: #4ecca3;
font-size: 150px;
margin : 30px;

}
p {
    font-family: 'Indie Flower', cursive;
    color : #4ecca3;
    font-size: 32px;
}
body {
    background-color: #393e46;
}
.container {
    text-align: center;
    width: 70%;
    margin:auto
}
.dice {
    text-align: center;
    display: inline-block;
}
img {
    width : 80%
}
button {
    color: black ;
    font-size: 25px ;
    cursor: pointer;
    
}